:root {
    /* Font */
    --font-primary: "Helvetica Neue";
}


/* ==========================================================================
   3. Reset CSS Moderno
   ========================================================================== */


*,
*::before,
*::after {
    box-sizing: border-box;
}


*:not(.body *) {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: common-ligatures;
    /* Previene l'ingrandimento del testo su iOS */
    // background-color: var(--bianco);
}

body {
    --color-background: white;
    font-family: var(--font-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: var(--color-background);
    /* Imposta un'interlinea di base leggibile */
    -webkit-font-smoothing: antialiased;
    /* Migliora il rendering del font su macOS/iOS */
    text-rendering: optimizeSpeed;
    overflow-x: hidden;


    @media (min-width: 768px) {
        white-space: pre-line;
    }
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

ul:not(.body *),
ol:not(.body *) {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}


input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;

}


* {
    -webkit-tap-highlight-color: transparent;
}

/* ==========================================================================
   4. Scrollbar
   ========================================================================== */

::-webkit-scrollbar {
    display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px transparent inset !important;
}

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 !important;
}

@media(max-width: 768px) {
    .title {
        line-height: 1 !important;
    }
}

::selection {
    background-color: var(--rosso);
    /* Usa la variabile CSS del tuo brand per lo sfondo */
    color: white;
    /* Assicura che il testo sia leggibile (es. bianco) */
}

::-moz-selection {
    /* Per compatibilità con le versioni più vecchie di Firefox */
    background-color: var(--rosso);
    color: white;
}