---

---

<section class="hero">
  <div class="wrapper">
    <!-- <p class="copy-target">click to copy</p> -->
    <div class="wrapper-title">
      <h1 class="copy-target title">
        <span>È</span><span style="font-size: 21rem;">COPIA</span>
      </h1>
    </div>
    <div id="feedback" class="feedback-message">Copied!</div>
  </div>
</section>

<style lang="scss">
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-title {
    overflow: hidden;
    height: 25rem;
    line-height: 1.15;
    &:hover {
      .title span {
        transform: translateY(-110%);
      }
    }
  }

  .copy-target {
    cursor: pointer;
  }

  .title {
    display: flex;
    flex-direction: column;
    font-size: 25rem;
    text-align: center;

    span {
      transition: transform 0.6s;
      width: 100vw;
  
    }
  }

  .feedback-message {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    &.visible {
      display: block;
    }
  }
</style>
<script>
  const copyTargets = document.querySelectorAll(".copy-target") as any;
  const feedbackMessage = document.getElementById("feedback") as any;

  copyTargets.forEach((copyTarget: any) => {
    copyTarget.addEventListener("click", () => {
      const textToCopy = copyTarget.textContent;
      navigator.clipboard
        .writeText(textToCopy)
        .then(() => {
          feedbackMessage.classList.add("visible");
          setTimeout(() => {
            feedbackMessage.classList.remove("visible");
          }, 2000);
        })
        .catch((err) => {
          console.error("Errore durante la copia negli appunti: ", err);
        });
    });
  });
</script>
